.displaynone {
  display: none !important;
}
.displayblock {
  display: block !important;
}
.flt {
  float: left;
}
.frt {
  float: right;
}
.comment_wrapper {
  border: 1px solid silver;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}
.subject_wrapper a {
  font-size: 16px;
  color: #0074bd;
}
.info_wrapper {
  text-align: center;
  font-size: 10px;
  width: 10%;
  float: left;
}
.content_wrapper {
  width: 90%;
  float: left;
}
.content_wrapper_body,
.subject_wrapper {
  padding: 5px;
}
